<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/appStyle.css">

    <title>IH / CB App - Hotel House Accounts</title>
    <script>
    </script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
<div id="haList">
    <div class="container-fluid m-1">
        <div class="row border-bottom border-2 d-flex justify-content-center  align-items-center">
            <!-- search column -->
            <div class="col-3">

                <input type="text" id="txtHaNmSrch" placeholder="Account Name" style="padding-right: 2px;" />
                <i id="btnHaNmSearch" class="bi-search" style="font-size: 1rem; color: cornflowerblue;"></i>
                &nbsp;
                <i id="btnHaListPrint" class="bi bi-printer" style="font-size: 1rem; color: green;"></i>
                
                <!-- <button type="button" class="btn btn-sm  btn-primary" id="btnHaNmSearch">Search</button> -->
            </div>
            <div class="col-2">
                <span id="cntHA"></span>
            </div>
            <div class="col-5 ">
                <div class="row ">
                    <!-- status - inclusive -->
                    <div class="col d-flex justify-content-center align-items-center">
                        <label>Status</label>
                    </div>
                    <div class="col d-flex justify-content-left align-items-center">
                        <input type="checkbox" name="Open" id="chkStatOpn" checked="checked">
                        <label for="chkStatOpn">Open</label>
                    </div>
                    <div class="col d-flex justify-content-left align-items-center">
                        <input type="checkbox" name="CLosed" id="chkStatClsd" checked="checked">
                        <label for="chkStatClsd">CLosed</label>
                    </div>
                </div>
                <!-- filters - exclusive  -->
                <!-- <div class="row">
                    <div class="col d-flex justify-content-center align-items-center">
                        <label>Filter</label>
                    </div>
                    <div class="col d-flex justify-content-left align-items-center">
                        <input type="checkbox" name="Open" id="chkFilterEmp">
                        <label for="chkFilterEmp">Employee</label>
                    </div>
                    <div class="col d-flex justify-content-left align-items-center">
                        <input type="checkbox" name="CLosed" id="chkFilterGc">
                        <label for="chkStatClsd">Gift Card</label>
                    </div>
                </div> -->

            </div>
            <div class="col d-flex justify-content-center align-items-center">

                <div class="col d-flex justify-content-center align-items-center">
                    <button type="button" id="btnHaReload" class="btn btn-sm btn-info">HA Reload</button>
                </div>
            </div>
        </div>
        <div id = "haProgDiv" class="container border-bottom border-2 d-flex justify-content-center align-items-center">
            <!-- Selected House Account:  -->
            <span id="dispHaSelName" class="  gstDisp">&nbsp;</span>
        </div>
    </div>
    <div class="container-fluid m-1 ">
        <div class="row m-auto">
            <div class="col-7  border-bottom border-2  align-items-top">
                <div id="haListDiv" class="list scrollable gstDisp "></div>
            </div>
            <div class="col border-bottom border-2 align-items-top">

                <div class="row">
                    <table class="table table-primary" style="font-size: smaller;">
                        <tr>
                            <th width="25%" style="text-align: left;">Description</th>
                            <td>
                                <span id="haDtlDivDesc" class="gstDisp">&nbsp;</span>
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: left;">Notes</th>
                            <td>
                                <span id="haDtlDivNotes" class="gstDisp">&nbsp;</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="haDtlDiv" class="row">
                    <div id="haDtlDivRecords" class="list scrollable_shrt gstDisp"></div>

                </div>
            </div>
        </div>

    </div>
</div>
<script type="module" src="./renderer.js"></script>

</body>

</html>